.home-page{
    display: flex;    
}

img{
    margin: 0px;
    width: 70%;
    height: 100vh;
}

.container-inputs{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-input{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-bottom: 50px;
}

.input-field{
    border-radius: 16px;
    padding: 10px;
}