body{
    height: 100%;
    margin: 0px;
    background-color: #E5E5E5;
    font-family: Arial, Helvetica, sans-serif;
}

.button-default{
    padding: 30px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #cc5141;
    color: black;
}

.no-style-link{
    text-decoration: none;
}

.error-p{
    color: red;
    font-size: 10pt;
    margin: 0;
}